/*CONTENEDOR DE TODO, HEADER, MENU, BODY, FOOTER*/
.container-fluid {
  padding-right: 0px; 
  padding-left: 0px; 
  flex-wrap: wrap;
}

/*MENU*/
.menu {
  padding: 15px 15px;
}

/*MENU STICKY*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0px;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  z-index: 500;
}

.filter{
  align-self: center;
}

.ordenar{
  align-self: center;

  
}
.form-control{
     font-size: 13px;  
     color: #0a1944;
     
}
.input-group{
justify-content: center;

}
.arrowup{
 border: #0a1944;
}
    
/*CUERPO , PADDING PARA CENTRAR LUGR DE LOS POKMONES Y MENU :( */
.central{
  padding: 12px 25px 25px 25px;
 }

 
 /*AJUSTAR CARD POKEMON EENTRADAS*/
.pokemones_list{
  display: flex;
  justify-content: center;
}

/*TARJETA CARD CONTENEDORA*/
.card {
  width: auto;
  height: 210px;
  background:#fff;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  border-color:rgb(204, 204, 204);
  text-align: center;
}

/*NUMERO POKEMON*/
.card-num {
background: #e5e7e7;
font-size: 11px;
border-radius: 34em;
}

/*IMAGEN POKEMON*/
.card-img-top{
  width: 110px;
  height: 110px;
}

/*NOMBRE POKEMON*/
.cardTitle{
  font-size: 10px;
}

/*ELEMENTO POKEMON*/
.card-type{
  font-size: 12px;
}

/*GRAFICO CALCULO*/
.grafic{
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 40px;
}

/*FOOTER*/
.footer{
  padding: 60px;
  color: #455fa6;
  text-align: center;
  color: #ffffff;
}


.color2{background: #dbeafd;}
.color3{background: #ffffff;}
.color4{background: #3c5ca7;} /*COLOR ZEPLIN*/

