/*CONTENEDOR DE TODO, HEADER, MENU, BODY, FOOTER*/
.container-fluid {
  padding-right: 0px; 
  padding-left: 0px; 
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: baseline;
}

/*TARJETA CARD CONTENEDORA*/
.card {
  width: 140px;
  height: 210px;
  margin: 1em;
  background:#fff;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  border-color:rgb(204, 204, 204);
  text-align: center;
  align-content: flex-start;
}

/*NUMERO POKEMON*/
.card-num {
background: #e5e7e7;
font-size: 11px;
border-radius: 34em;
}

/*IMAGEN POKEMON*/
.card-img-top{
  width: 120px;
  height: 120px;
}

/*NOMBRE POKEMON*/
.cardTitle{
  font-size: 10px;
}

/*ELEMENTO POKEMON*/
.card-type{
  font-size: 12px;
}

/*MENU*/
.menu {
 padding:  15px 77px 15px 77px;
}

/*CUERPO , PADDING PARA CENTRAR LUGR DE LOS POKMONES Y MENU :( */
.central{
  padding: 20px 3px 20px 25px;
  width: 100%;
}

/*FOOTER*/
.footer{
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.color2{background: #dbeafd;}
.color3{background: #ffffff;}
.color4{background: #455FA6;}


